{% extends 'shop/base.html' %}
{% load static %}

{% block content %}


<div>
    <ul class='product-items'>
    {% for product in products %}
    <li>
    <div class='solo-item'>
        <img src="{% static 'shop/images/image 8.png'%}" width='200' height='120'>
        <a href='{{ product.slug }}'>{{ product.title|capfirst }}</a>
        <p>{{ product.description|truncatechars:26}}</p>
        <span>
            {{ product.price }}$
        </span>
    </div>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock content %}



{% block navpag %}
{% if page_obj.has_other_pages %}
<nav>
    <ul class='list-pages'>
        {% if page_obj.has_previous %}
        <li>
            <a href='?page={{ page_obj.previous_page_number }}'>&lt;</a>
        </li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <li class='current-page'> {{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li>
            <a href='?page={{ p }}'>{{ p }}</a>
        </li>
        {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href='?page={{ page_obj.next_page_number }}'>&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}



{% endblock navpag %}