{% extends 'shop/base.html' %}

{% load static %}
{% block content %}

    <br>
    <div class="form-register">
        <h3>Вхід до акаунту</h3>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class='login-column'>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class='form-text'>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <input type="submit" value="Вхід" class="register-button">
        </form>

        <div class='form-text'>
            <a href='{% url "account:register" %}'>Не маєте акаунту?</a>
        </div>

        <div class='form-text'>
            <a href='{% url "account:password_reset" %}'>Забули пароль?</a>
        </div>
    </div>
{% endblock content %}